@import './header.less';
@import './home.less';
@import './footer.less';
@import './responsive.less';

.xorm {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 2em;
  min-height: 90vh;
  width: 100vw;

  .infos {
    margin: 1em;
    width: 34%;
    display: flex;
    flex-direction: column;
    flex: 0 0 34%;

    > div:first-child {
      position: fixed;
      width: 34%;
    }
    // justify-content: space-between;

    span {
      color: #00000073;
      font-weight: bold;

      &.accent {
        color: black;
        margin-left: 2em;
      }
    }

    .title {
      font-weight: bolder;
      font-size: 30px;
    }

    .stats {
      display: flex;
      justify-content: space-between;

      & > div {
        box-sizing: border-box;
        border: 1px solid #00000073;
        border-radius: 5px;
        padding: 10px 15px;
      }
    }

    .liquid {
      display: block;
    }

    .bullet {
      display: none;
    }
  }

  .survey {
    margin: 1em;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      // margin-top: 2em;
      position: fixed;
      z-index: 1000;
      background: white;
      display: flex;
      flex-direction: column;
      width: calc(66% - 6.5em);
      right: 3em;
      top: 64px;
      padding-top: 1em;

      .title {
        font-size: 21px;
        font-weight: bold;
        text-transform: capitalize;
      }

      .step {
        color: #E0E0E0;
        font-weight: bold;
        text-align: center;

        span {
          margin-left: 0.5em;
          color: #BDBDBD;
        }

        span:first-child {
          color: #1890ff;
          margin-right: 0.5em;
        }
      }

    }

    .question {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      margin: auto;

      .title {
        font-size: 18px;
      }

      .description {
        font-size: 18px;
      }

      .hint {
        font-size: 18px;
        font-weight: bold;
        color: #BDBDBD;
      }

      &.tidesc {
        margin: 3em 0;

        .title {
          text-align: center;
          text-transform: uppercase;
          text-decoration: underline;
          font-size: x-large;
        }
      }

      &.datatable {
        width: 100%;

        table {
          width: 100%;
        }
      
        thead th, tbody td, tbody th {
          padding: 1em;
          border: 0.5px solid #e8e8e8;
        }

        .value {
          overflow-x: auto;
        }
      }

      .value {

        input[type='text'], textarea {
          border-radius: 5px;
        }

        .ant-checkbox-group, .ant-radio-group {
          display: flex;
          flex-wrap: wrap;

          label {
            flex: 2 0 33%; /* explanation below */
            margin: 5px 0;
            display: flex;

            .ant-checkbox-inner {
              width: 25px;
              height: 25px;
              border-radius: 5px;

              &::after {
                width: 8.714px;
                height: 14.143px;
              }
            }

            .ant-radio-inner {
              width: 25px;
              height: 25px;

              &::after {
                width: 17px;
                height: 17px;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 1em;

      button {
        width: 20%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
      }
    }
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .ant-popover-inner-content {
    padding: 0;
  }

  .xorm {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 90vh;
    padding-top: 0;

    .infos {
      width: 100%;
      margin: auto;
      flex: 0;
      position: fixed;
      left: 0;
      padding: 1em;
      width: 100%;
      background: white;
      z-index: 500;
      height: 6em;

      > div:first-child {
        position: relative;
        width: 100%;
      }

      .bullet {
        display: block;

        canvas {
          height: 25px !important;
        }
      }

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 24px; 
      }

      .liquid, .id, span, .stats, p {
        display: none;
      }
    }

    .survey {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 5em;

      .header {
        position: initial;
        width: 100%;
      }

      fieldset {
        margin-top: 0 !important;
      }

      .question {

        .datatable {

          /* Force table to not be like tables anymore */
          table, thead, tbody, th, td, tr { 
            display: block; 
          }
          
          /* Hide table headers (but not display: none;, for accessibility) */
          thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
          }

          tbody {
            tr { 
              border: 1px solid #ccc;

              td:first-child {
                span {
                  // display: ;
                  font-weight: bold;
                }

              }
            }
            
            td, th { 
              /* Behave  like a "row" */
              border: none;
              border-bottom: 1px solid #eee; 
              position: relative;
              // padding-left: 50%; 

              > span {
                display: none;
              }
            }

            td:before { 
              /* Now like a table header */
              // position: absolute;
              /* Top/left values mimic padding */
              top: 6px;
              left: 6px;
              width: 45%; 
              padding-right: 10px; 
              white-space: nowrap;
            }

            td:before {
              content: attr(data-content);
            }

          }
          
          
          
          /*
          Label the data
          */
          // td:nth-of-type(1):before { content: "First Name"; }
          // td:nth-of-type(2):before { content: "Last Name"; }
          // td:nth-of-type(3):before { content: "Job Title"; }
          // td:nth-of-type(4):before { content: "Favorite Color"; }
          // td:nth-of-type(5):before { content: "Wars of Trek?"; }
          // td:nth-of-type(6):before { content: "Secret Alias"; }
          // td:nth-of-type(7):before { content: "Date of Birth"; }
          // td:nth-of-type(8):before { content: "Dream Vacation City"; }
          // td:nth-of-type(9):before { content: "GPA"; }
          // td:nth-of-type(10):before { content: "Arbitrary Data"; }

        }
        .value {

          .ant-checkbox-group, .ant-radio-group {
            display: flex;
            flex-direction: column;
          }

        }
      }

      .footer {
        justify-content: space-between;

        button {
          width: 40%;
          padding: 6.4px 15px;
        }
      }
    }
  }
}
